<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">

<html>
<head>
    <title>Edit of Subscriber</title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="/css/lib/bootstrap-4.0.0/bootstrap.min.css"/>

    <!-- Latest compiled and minified JavaScript -->
    <script src="/js/lib/bootstrap-4.0.0/bootstrap.min.js"></script>
    <script src="/js/lib/jquery/jquery-3.3.1.min.js"></script>
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col">
            <h3>Редактирование абонента</h3>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <a class="btn btn-link" href="/">Home</a>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <form th:object="${subscriberForm}" th:action="@{/subscriber/edit}"  th:method="post">
                <table class="table table-borderless">
                    <tbody>
                    <tr>
                        <td>
                            <label>ID:</label>
                        </td>
                        <td>
                            <input th:id="id" th:type="text" th:name="id" th:field="*{id}" readonly />
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label>Имя:</label>
                        </td>
                        <td>
                            <input th:id="first-name" th:type="text" th:name="firstName" th:field="*{firstName}"/>
                        </td>
                    </tr>

                    <tr>
                        <td>
                            <label>Фамилия:</label>
                        </td>
                        <td>
                            <input th:id="last-name" th:type="text" th:name="lastName" th:field="*{lastName}"/>
                        </td>
                    </tr>

                    <tr>
                        <td>
                            <label>Пол:</label>
                        </td>
                        <td>
                            <span th:each="state : ${T(com.academy.mobile.model.Gender).values()}">
                                <input th:type="radio" th:id="${state}" th:name="gender" th:value="${state}"
                                    th:checked="*{gender} == ${state} ? 'checked' "/>
                                <label th:for="${state}" th:text="${state.ru}"></label>
                            </span>
                        </td>
                    </tr>

                    <tr>
                        <td>
                            <label>Возраст:</label>
                        </td>
                        <td>
                            <input th:id="age" th:type="text" th:name="age" th:field="*{age}" th:value="m"  pattern="[0-9.]+" >
                        </td>
                    </tr>
                    </tbody>
                </table>
                <div class="row">
                    <div class="col">
                        <button type="submit" class="btn btn-success">Сохранить</button>
                    </div>
                </div>
            </form>
        </div>
        <div class="col">
        </div>
    </div>
</div>
</body>
</html>