<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml" >
<head>
    <title>Mobile App</title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="/css/lib/bootstrap-4.0.0/bootstrap.min.css"/>

    <!-- Latest compiled and minified JavaScript -->
    <script src="/js/lib/bootstrap-4.0.0/bootstrap.min.js"></script>
    <script src="/js/lib/jquery/jquery-3.3.1.min.js"></script>
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col">
            <h3>Mobile</h3>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <a href="subscribers">Subscribers</a>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <p>Home page of mobile application</p>
        </div>
    </div>
</div>
</body>
</html>